<% if users.any? %>
  <% users.each do |user| %>
    <div class="user">
      <h2><%= user.name %></h2>
      <p><%= user.password %></p>
    </div>
  <% end %>
<% else %>
  <p class="placeholder">There are no users yet.</p>
<% end %>
